---
title: "Little HIVE"
---

{% for post in paginator.posts %}
	{% include post.html %}
{% endfor %}

<nav id="blog-paginator">
	<ul class="pager">
		{% if paginator.previous_page %}
			<li class="prev">
				<a href="{{ paginator.previous_page_path }}"><span class="oi oi-media-skip-backward"></span></a>
			</li>
		{% endif %}
		{% if paginator.next_page %}
			<li class="next">
				<a href="{{ paginator.next_page_path }}"><span class="oi oi-media-skip-forward"></span></a>
			</li>
		{% endif %}
	</ul>
</nav>